<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <div class="row collapse-at-2">
                    <div class="6u">
                        <h3 style="margin: 0 0 1em 0;">Links</h3>
                        <ul class="alt">
                            <li><a href="{{ site.baseurl }}/">Início</a></li>
                            <li><a href="{{ site.baseurl }}/team.html">Quem Somos</a></li>
                            <li><a href="{{ site.baseurl }}/amitis.html">Amitis</a></li>
                            <li><a href="{{ site.baseurl }}/cromosomos.html">Cromo Somos</a></li>
                            <li><a href="{{ site.baseurl }}/awards.html">Premiações</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3 style="margin: 0 0 1em 0;">Contato</h3>
                        <ul class="alt">
                            <li><a href="#">enactusufal@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="3u">
                <!-- Facebook Widget -->
                <div class="fb-page" data-href="https://www.facebook.com/EnactusUfal" data-tabs="timeline" data-width="265" data-height="343" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/EnactusUfal" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EnactusUfal">Enactus UFAL</a></blockquote></div>
            </div>
            <div class="3u">
                <!-- InstaWidget -->
                <a href="https://instawidget.net/v/user/enactusufal" id="link-473daa4d34d2062de95e19a5bf33502757ee5ed92d298fcf9a3451629cc80dd5">@enactusufal</a>
                <script src="https://instawidget.net/js/instawidget.js?u=473daa4d34d2062de95e19a5bf33502757ee5ed92d298fcf9a3451629cc80dd5&width=260px"></script>
            </div>
        </div>
         <ul class="copyright">
            <li>&copy; Pesquisa e Inovação, Enactus UFAL</li>
        </ul>
    </div>
</footer>
