<head>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Site oficial do time Enactus UFAL." />
    <meta name="keywords" content="Enactus,UFAL,enactusufal,EnactusUFAL,Enactus UFAL,enactus ufal,Time Enactus UFAL, Time EnactusUfal" />
    <!-- <meta http-equiv="Refresh" content = "10; URL=http://www.enactusufal.org"> -->
    <meta name="author" content="EnactusUFAL">

    <!-- Favicon -->
    <link rel="icon" href="{{ site.baseurl }}/favicon.png" type="image/png" />

    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->

        <!-- Bootstrap core JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery/jquery.min.js"></script>

    <script src="{{ site.baseurl }}/js/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="{{ site.baseurl }}/js/jquery.min.js"></script> -->
    <script src="{{ site.baseurl }}/js/skel.min.js"></script>
    <script src="{{ site.baseurl }}/js/skel-layers.min.js"></script>
    <script src="{{ site.baseurl }}/js/init.js"></script>
    <script src="https://smtpjs.com/v2/smtp.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="js/main.js"></script>

    <noscript>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/skel.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style-xlarge.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/full-slider.css" />
        <link href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </noscript>
</head>

