<!-- Header -->
<header id="header" class="skel-layers-fixed">
    
    
    <h1><a href="{{ site.baseurl }}/" class="site-title" ><img class="image full" style="width: 50%; height: 85%; margin-top: 2px; margin-bottom: 5px; " src="images/logo.png"/></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Início</a></li>
            <li><a href="{{ site.baseurl }}/team.html">Quem Somos</a></li>
            <li><a href="{{ site.baseurl }}/amitis.html">Amitis</a></li>
            <li><a href="{{ site.baseurl }}/cromosomos.html">Cromo Somos</a></li>
            <li><a href="{{ site.baseurl }}/awards.html">Premiações</a></li>
            <!-- <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li> -->
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <!-- <li><a href="#" class="button special">Sign Up</a></li> -->
        </ul>
    </nav>
</header>